/* header buttons*/
header button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

header button:hover {
    background-color: #0399609a;
    transform: scale(1.05);
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    border: 1px solid #ffcc88;
    border-radius: 10px;
    width: calc(50% - 10px);
    display: flex;
}

.card .card-image {
    width: 200px;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* General buttons */
button {
    background-color: #2910a5;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #5b65d4;
    transform: scale(1.05);
}